<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#f0f8ff ">
<form action="./inselt" method="post">
    {% csrf_token %}
    enter fristname      :<input type="text" name="t1"><br>
    enter lastname       :<input type="text" name="t2"><br>
    enter username       :<input type="text" name="t3"><br>
    enter password       :<input type="password" name="t4"><br>
    enter confirmpassword:<input type="password" name="t5"><br>
    enter mobilenumber   :<input type="number" name="t6"><br>
    enter email          :<input type="email" name="t7"><br>
    <input type="submit" value="regstion">


</form>

</body>
</html>